{% extends "base.html" %}

{% block content %}
<div class="center-wrapper-parent">
  <div class="canvas-wrapper">
    <canvas id="tic-tac-toe-board" class="center-v"></canvas>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="/static/js/tictactoe.js"></script>
  <!--script type="text/javascript" src="https//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
  <script src="/static/js/testsocket.js"></script>
{% endblock scripts %}